<article class="app" id="app_<%=app.id%>">
  
  <%= image_tag app.image.url(:small) %>

  <section class="details">
    <h1><%= app.name %></h1>
    <%= render partial: "ratings/rating", locals: {value: app.rating}  %>
    <p><%= app.price %></p>
  </section>

  <section class="actions">
    <%= link_to '+ info',
      app, 
      :class => "button info"
    %>
    <% if app.installed? current_user %>
      <%= render partial: "installed_button", locals: {app: app} %>
    <% else %>
      <%= link_to 'install',
        {:action => :install, :id => app.id},
        :class => "button install",
        :remote => "true" 
      %>
    <% end %>
  </section>

</article>