<article class="app-extended cf">
  <h1><%= @app.name %></h1>

  <section class="summary column">
    <%= image_tag @app.image.url %>
    <%= render partial: "ratings/rating", locals: {full_info: true, app: @app, value: @app.rating}  %>
    <div class="details">
      <p>
        <span class="faded">Price:</span>
        <%= @app.price %>
      </p>
      <p>
        <span class="faded">Publisher:</span>
        <%= @app.publisher %>
      </p>
      <p>
        <span class="faded">Version:</span>
        <%= @app.version %>
      </p>

      <p>
        <span class="faded">Size:</span>
        <%= @app.size %>
      </p>
    </div>

  </section>

  <section class="description column">
    <p>
      <%= @app.description %>
    </p>
    <section class="ratings">
      <h1>Reviews</h1>
      <%= render partial: "ratings/ratings_list", locals: {app: @app} %>
    </section>

  </section>

</article>
