<article class="app" id="app_<%=app.id%>">
  <%= image_tag app.image.url(:small) %>
  <section class="details">
    <h1><%= app.name %></h1>
    <%= render partial: "ratings/rating", locals: {value: app.rating}  %>
    <%= app.price %>
  </section>
  <section class="actions">
    <%= link_to '+ info',
      app, 
      :class => "button info"
    %>
    <% if app.downloaded? current_user %>
      <%= render :partial => 'downloaded_button' %>
    <% else %>
      <%= link_to 'install',
        {:action => :download, :id => app.id},
        :class => "button download",
        :remote => "true" 
      %>
    <% end %>
  </section>
</article>