<div class="container">
  <h1><%= link_to "TBox Marketplace", apps_path %></h1>
  <ul class="cf">
    <li><%= nav_link 'All Apps', apps_path %></li>
    <li><%= nav_link 'Installed Apps', installed_apps_path %></li>
    <li class="right">
      <%= form_tag(search_apps_path, method: "get", remote: true) do %>
        <%= text_field_tag(:search,"",:placeholder =>"Search apps", :type=>"search") %>
      <% end %>
    </li>
  </ul>
</div>